<h2><%= @page.name %></h2>
<%= link_to("新規投稿", "/chat/new/#{@page.id}") %>
<p>-----------------------------------------------------------------------</p>
<% @posts.each do |post| %>
<p>
  <%= post.content %>
</p>
<% end %>
